@use '../../helpersCss/functions';
.container__selects{
  @include functions.flex-position(center,center);
  flex-direction: column;
  gap: 2em;
}

.container__selects__select{
  @include functions.flex-position(center,center);
  flex-direction: column;
  gap: 1em;
}

select {
  border: 1px solid #e2e3e7;
  border-radius: 5px;
  height: 60px;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(#95c0e0, #c9d3da);
  color: #0c0b0b;
  box-shadow: -5px 2px 6px rgba(0, 0, 0, 0.150);
  font-size: 0.6em;
  font-weight: 600;
}

select:hover {
  background: linear-gradient(#c9d3da, #fef6f6);
}

select option{
  background-color: #f7ede796;
}

.container__news__filters{
  @include functions.flex-position(center, center);
}

.container__news__filters > svg{
  fill: #95a2d6;
  cursor: pointer;
}
.container__news__filters > input{
  border: 1px solid #e2e3e7;
  width: 100px;
}
.container__news__filters > svg, input{
  height: 40px;
}

.container__news__filters > input{
  border-radius: 5px;
}

table {
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  width: 100%;
  padding: 20px;
  border-collapse: separate;
  border-spacing: 25px;
  background-color: #e2e3e7;
  border-radius: 10px;
  box-shadow: -10px 10px 6px rgba(0, 0, 0, 0.150);
}

th, tr{
  text-align: center;
  margin-bottom: 50px;
}

th{
  font-size: 1.2em;
}

tbody > tr:nth-child(even):hover {
  background-color: #c9d3da;
}

tbody > tr:nth-child(odd):hover {
  background-color: #fef6f6;
}

@media (min-width: 767px) {
  table{
    overflow-x: auto;
    padding: 0;
    width: auto;
    border-spacing: 40px;
  }
  select {
    width: 50%;
    padding: 1em;
    font-size: 1em;
  }
  .container__selects{
    flex-direction: row;
    justify-content: space-around;
    gap: 2em;
    flex-wrap: wrap;
    margin-top: 4em;
  }

  .container__selects__select{
    flex-direction: row;
  }
}


