<main>
  <section class="container__columns__vibles">
    <div class="container__checkbox" *ngFor="let column of columns">
      <label class="label__checkbox">
        <input
          class="checkbox"
          type="checkbox"
          [value]="column"
          [(ngModel)]="isCheckedColumns[column]"
        />
        {{ column }}
      </label>
    </div>
    <button (click)="onApplyColumns()">Aplicar columnas</button>
    <button (click)="onResetColumns()">Resetear columnas</button>
  </section>
  <app-table-component
    [person]="person"
    [columnsToDisplay]="selectedColumns"
    [filtrosDefault]="['name', 'email']"
  ></app-table-component>
</main>
